body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header { 
  text-align: center 
}

nav {
  div {
    padding: 10px 10px 10px 10px;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

figcaption { 
  text-align: center;
  font-size: 12px 
}

p#featured-property {
  text-align: center;
  width: 800px; 
}

/* Let's center all of our nav links as well. 
Give all of the <a> tags within our navbar a padding of 10px on their left and right sides. 
In addition, change their background color to something of your choosing. 
We chose grey!*/